@font-face {
    font-family: 'jinkyregular';
    src: url('JINKY-webfont.eot');
    src: url('JINKY-webfont.eot?#iefix') format('embedded-opentype'),
         url('JINKY-webfont.woff') format('woff'),
         url('JINKY-webfont.ttf') format('truetype'),
         url('JINKY-webfont.svg#jinkyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rock_saltregular';
    src: url('RockSalt-webfont.eot');
    src: url('RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('RockSalt-webfont.woff') format('woff'),
         url('RockSalt-webfont.ttf') format('truetype'),
         url('RockSalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.galaxy {
  background-image: url("https://github.com/BluesBleu/Danielcplau.com/blob/gh-pages/Nebula-Wallpaper-EI13.jpg?raw=true");
  height: 1050px;
  margin: 0px;
  overflow: auto;
  opacity: 1;
}

.fog {
  background-image: url("https://github.com/BluesBleu/Danielcplau.com/blob/gh-pages/Foggy-City-4.jpg?raw=true");
  margin: 0px;
  height: 1300px;
  overflow: auto;
}

.navbar-header {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  width: 750px;
  padding: 0 auto;
  overflow: hidden;
}

li {
  display: inline;
  width: 100px;
  float: left;
  margin: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  font-weight: BOLD;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

li a:hover {
  color: white;
  text-decoration: none;
  border-bottom: #ce3844 solid 1px;
}

.active {
  border-bottom: #ce3844 solid 2px;
}

.fill {
  font-size: 80px;
  text-align: center;
  font-family: 'rocksalt_regular', cursive;
  color: #fff;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 300px;
}

.name {
  text-align: center;
  margin-top: 150px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  color: black;

}

hr.style-two {
    border: 0;
    height: 3px;
    width: 600px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
