@font-face {
    font-family: 'rocksalt';
    src: url('RockSalt-webfont.eot');
    src: url('RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('RockSalt-webfont.woff') format('woff'),
         url('RockSalt-webfont.ttf') format('truetype'),
         url('RockSalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.stars {
  background-image: url("https://raw.githubusercontent.com/BluesBleu/Danielcplau.com/gh-pages/Images/dark-nature-wide-wallpaper.jpg");
  height: 1040px;
  margin: 0px;
  overflow: hidden;
  opacity: 1;
}

.self {
  background-image: url("https://raw.githubusercontent.com/BluesBleu/Danielcplau.com/gh-pages/Images/1506271_642286765832258_692446235_o.jpg");
  margin: 0px;
  height: 1000px;
  width: 100%;
  background-size: contain;
  filter: brightness(95%);
  overflow:hidden;
}

.temp {
  background-image: url("https://raw.githubusercontent.com/BluesBleu/Danielcplau.com/gh-pages/Foggy-City-4.jpg");
  margin: 0px;
  height: 1100px;
  background-size:cover;
  overflow:auto;
}

.connect {
  background-image: url('https://raw.githubusercontent.com/BluesBleu/Danielcplau.com/gh-pages/Images/imageedit_1_2585037376.jpg');
  margin: 0px;
  height: 900px;
  background-size: cover;
  overflow:auto;
}

.navbar-header {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100px;
}

ul.ulnav {
  list-style-type: none;
  margin: 0 auto;
  width: 750px;
  padding: 0 auto;
  overflow: hidden;
}

li.navbarli {
  display: inline;
  width: 100px;
  float: left;
  margin: 20px;
}

li a.navfont {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  font-weight: BOLD;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

li a.navfont:hover {
  color: white;
  text-decoration: none;
  border-bottom: #ce3844 solid 1px;
}

.active {
  border-bottom: #ce3844 solid 2px;
}

.style-one {
  height: 6px;
  border: 0;
  width: 125px;
  margin-top: -1px;
  box-shadow: inset 0 12px 12px -5px rgba(0, 0, 0, .7);
}

.topText {
  text-align: center;
  margin-top: 320px;
  color: white;
  font-family: 'Oswald', Arial;
  font-size: 20px;
  
}

.bottomText {
  font-size: 50px;
  margin-top: 30px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  font-family: 'rocksalt', cursive;
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.name {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

hr.style-two {
  border: 0;
  height: 3px;
  width: 600px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h5.title {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-bottom: 25px;
  color: white;
}

p {
  display: block;
  text-align: justify;
  font-family: 'Montserrat';
  font-weight: bold;
  color: white;
}

div.tempp {
  text-align:center;
  border: 6px solid white;
  border-style: ridge;
  width: 800px;
  height: 100px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

.temppp {
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 24px;
  
}

div.contactme {
  text-align:center;
  border: 1px solid white;
  width: 500px;
  height: 100px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

.contactTitle {
  font-size: 60px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-top: 17px;
}

.containers {
 margin: auto; 
 max-width: 600px;
}

a.facebook:hover {
  
}

a.linkedin:hover {
  
}

a.github:hover {
  
}

a.twitter:hover {
  
}
